<template> 
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user_id>0? username : 'Anónimo'}}</a></li> 
    <li><a href="#" data-toggle="modal" data-target="#IdLoginModal"><i class="glyphicon glyphicon-log-in" ></i> Login</a> </li>             

    <!-- Modal -->
    <div id="IdLoginModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            
            <h4 v-if="user_id > 0"><span class="glyphicon glyphicon-lock"></span> Logged as {{username }} </h4>            
            <h4 v-else> <span class="glyphicon glyphicon-lock"></span> Login </h4>
            
          </div>
          <div class="modal-body" style="padding:40px 50px;">
            <form role="form">
              <div class="form-group">
                <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                <input type="text" class="form-control" id="usrname" placeholder="Enter user name" v-model="reg_username">
              </div>
              <div class="form-group">                
                <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                <div class="checkbox pull-right" >
                  <label><input type="checkbox" v-model="passwordVisible" >show / hide</label>
                </div>                 
                <input :type="passwordFieldType" class="form-control" id="psw" placeholder="Enter password" v-model="reg_password">
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" >Remember me</label>
              </div> 
                <button type="submit" class="btn btn-success btn-block"  @click.prevent="loginResource"><i class="glyphicon glyphicon-log-in" ></i> Login</button>                 
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            <button class="btn btn-default pull-left" data-dismiss="modal" @click.prevent="logoutResource"><i class="glyphicon glyphicon-log-out" ></i> Logout</button> 
            <p>Not a member? <a href="#">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
          </div>
        </div>        
      </div>
    </div> 
  </ul>
</template>
 
<script>
import $backend from "../backend";

export default {
  name: "Login",
  data() {
    return {
      reg_username: null,
      reg_password: null,
      reg_remember: false,
      passwordVisible: false,
      username: localStorage.username,
      user_id: localStorage.user_id
    };
  },
  computed: {
    passwordFieldType: function() {
      return this.passwordVisible ? "text" : "password";
    }
  },
  methods: {
    loginResource() {
      $backend.login(this.reg_username, this.reg_password).then(() => {
        this.updateValues();
        this.checkToken();
      });
    },
    logoutResource() {
      $backend.logout();
      this.updateValues();
    },
    updateValues() {
      this.username = localStorage.username;
      this.user_id = localStorage.user_id;
    },
    checkToken() {
      clearInterval(this.interval);
      this.interval = setInterval(() => {
        console.log("fetchToken user_id:" + localStorage.user_id);
        if (localStorage.user_id > 0) {
          $backend.fetchToken();
        } else {
          this.updateValues();
          clearInterval(this.interval);
        }
      }, 120000);
    }
  },
  created() {
    if (localStorage.user_id > 0) {
      this.checkToken();
    }
  }
};
</script>
 
 
<style scoped>
</style>
