<template>
  <div id="app"  class="container">
  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><router-link to="/">Home</router-link> </li>
            <li><router-link to="/api">API Sample</router-link> </li>
            <li><router-link to="/chat">chat Sample</router-link></li>
            <li><router-link to="/plot">Plot Sample</router-link></li>
            <li><router-link to="/stock">Plot Stock Sample</router-link></li>
          </ul>           
           <Login  /> 
        </div>
      </div>
    </nav>  

    <router-view/>


  </div>
</template>
 
 <script>
// @ is an alias to /src
import Login from "@/components/Login.vue";

export default {
  components: {
    Login
  }
};
</script>

<style>
</style>
