<template>
  <div class="about">
    <h1>Backend Resources Demo</h1>
    <p>Click on the links below to fetch data from the Flask server</p>
    <br/>
    <a href="" @click.prevent="fetchResource">Fetch</a>
    <br/>
    <input placeholder="Enter Resource ID" v-model="resourceId">
    <br/>
    <a href="" @click.prevent="fetchResourceID">Fetch Resource ID</a>
    <br/>
    <a href="" @click.prevent="fetchSecureResource">Fetch Secure Resource</a>
    <h4>Results</h4>
    <p>{{responseResourceId}}</p>
    
    <br>
    <a href="" @click.prevent="logoutResource"><i class="glyphicon glyphicon-log-out" ></i> LogOut</a> 
    <br>
    <a href="" @click.prevent="loginResource"><i class="glyphicon glyphicon-log-in" ></i> Login</a> 
    <p>username:{{username}}</p>
    <br>

    <p>todos:</p>
    <p v-for="t in todos" :key="t.id">
       {{t.id}}-{{t.text}}-{{t.done}}
    </p>
    <p v-for="r in resources" :key="r.timestamp">
      Server Timestamp: {{r.timestamp | formatTimestamp }}
    </p>
  </div>
</template>

<script>
import $backend from "../backend";

export default {
  name: "about",
  data() {
    return {
      resourceId: "asdf",
      responseResourceId: "",
      resources: [],
      username: localStorage.username
    };
  },
  methods: {
    fetchResource() {
      $backend.fetchResource().then(responseData => {
        this.resources.push(responseData);
      });
    },
    fetchResourceID() {
      $backend.fetchResourceId(this.resourceId).then(responseData => {
        this.responseResourceId = responseData;
      });
    },
    fetchSecureResource() {
      $backend.fetchSecureResource().then(responseData => {
        this.resources.push(responseData);
      });
    },
    loginResource() {
      $backend.login("Damian", "123").then(() => {
        this.username = localStorage.username;
      });
    },
    logoutResource() {
      $backend.logout();
      this.username = localStorage.username;
    }
  },
  computed: {
    todos() {
      return this.$store.state.todos;
    }
  }
};
</script>

<style  >
</style>
