<template>
  <div>
    <p v-if="isConnected">We're connected to the server!</p>
    <p>Message desde server: "{{socketMessage}}"</p>
    
    <p>count: "{{count}}"</p>
    <button @click="pingServer()">Ping Server</button>
    <button @click="getTrending()">getTrending</button>
     <p>rtValue:</p>
    <p v-for="(value, key) in rtValue" :key="key">
       {{ key }}: {{ value }}
    </p>
    <p>dataPoints: "{{dataPoints}}"</p>
  </div>
</template>

<script>
import store from "../store";

export default {
  data() {
    return {
      socketMessage: "",
      dataTrend: "",
      dataPoints: {}
    };
  },
  computed: {
    isConnected() {
      return this.$store.state.isConnected;
    },
    count() {
      return this.$store.state.count;
    },
    rtValue() {
      return this.$store.state.rtValue;
    }
  },

  sockets: {
    connect() {
      // Fired when the socket connects.
      // this.isConnected = true;
    },

    disconnect() {
      // this.isConnected = false;
    },

    pongServer(data) {
      this.socketMessage = data;
    },
    trending_values(data) {
      this.dataTrend = data.data;
      for (var key in data.data) {
        this.dataPoints[key] = [];
        for (var i in data.data[key]) {
          var val = data.data[key][i];
          this.dataPoints[key].push({
            x: val[0],
            y: val[1]
          });
        }
      }

      // dataPoints1.push({
      //     x: time.getTime(),
      //     y: yValue1
      //   });
    }
  },

  methods: {
    pingServer() {
      // Send the "pingServer" event to the server.
      // this.$socket.emit("pingServer", { "PING!": 123 });
      this.$socket.emit("pingServer", { "PING!": 123 });
      this.$socket.emit("testRtValue", {
        room: "sala1",
        topics: ["/topico1", "/topico2"],
        value: Math.random() * 100
      });
      // store.commit("pingServer", { "PING!": 789 });
      // store.dispatch("pingServer", { "PING!": 789 }).then(() => {});
    },
    getTrending() {
      this.$socket.emit("get_trending", {
        room: "sala1",
        mqtt_subscribe: true,
        time_start: Date.now() - 10 * 60,
        time_end: Date.now(),
        topics: ["/topico1", "/topico2", "/topico3"],
        value: Math.random() * 100
      });
      // store.commit("pingServer", { "PING!": 789 });
      // store.dispatch("pingServer", { "PING!": 789 }).then(() => {});
    }
  },
  created: function() {
    this.$interval = window.setInterval(function() {
      store.commit("increment", 1);
    }, 1000);
  },
  destroyed: function() {
    clearInterval(this.$interval);
  }
};
</script>


