<template>
  <div>
    <vue-highcharts :options="options" ref="lineCharts"></vue-highcharts>
    <button @click="load">load</button>
  </div>
</template>

<script>
import Highcharts from "highcharts";
import VueHighcharts from "vue2-highcharts";

const asyncData = {
  name: "Random data",
  data: (function() {
    // generate an array of random data
    var data = [],
      time = new Date().getTime(),
      i;

    for (i = -19; i <= 0; i += 1) {
      data.push({
        x: time + i * 1000,
        y: Math.random()
      });
    }
    return data;
  })()
};

var series = {};
series.name = "KPI";
series.data = [];
var time = new Date().getTime();
for (var i = -19; i <= 0; i += 1) {
  series.data.push([time + i * 1000, Math.random()]);
}

var hchart = null;

export default {
  components: {
    VueHighcharts
  },
  data() {
    return {
      options: {
        chart: {
          type: "spline",
          animation: Highcharts.svg, // don't animate in old IE
          marginRight: 10,
          events: {
            load: function() {
              hchart = this;
            }
          }
        },
        colors: [
          "#7cb5ec",
          "#ff8528",
          "#90ed7d",
          "#f7a35c",
          "#8085e9",
          "#f15c80",
          "#e4d354",
          "#8085e8",
          "#8d4653",
          "#91e8e1"
        ],
        title: {
          text: "Example"
        },
        xAxis: {
          type: "datetime",
          tickPixelInterval: 150
        },
        yAxis: {
          title: {
            text: "Value"
          },
          plotLines: [
            {
              value: 0,
              width: 1,
              color: "#808080"
            }
          ]
        },
        tooltip: {
          formatter: function() {
            return (
              "<b>" +
              this.series.name +
              "</b><br/>" +
              Highcharts.dateFormat("%Y-%m-%d %H:%M:%S", this.x) +
              "<br/>" +
              Highcharts.numberFormat(this.y, 2)
            );
          }
        },
        legend: {
          enabled: true
        },
        exporting: {
          enabled: false
        },
        series: [series],
        credits: {
          enabled: false
        }
      }
    };
  },
  methods: {
    load() {
      let lineCharts = this.$refs.lineCharts;
      lineCharts.delegateMethod("showLoading", "Loading...");
      var time = new Date().getTime();
      var i = 0;

      hchart.series[0].addPoint([time + i * 1000, Math.random()]);
      // series.data.push([time + i * 1000, Math.random()]);

      lineCharts.hideLoading();
    }
  }
};
</script>