<template>
  <section class="charts">
    <div id="chartContainer" style="height: 360px; width: 100%;"></div>       
    <button @click="getTrending">getTrending</button>
    <p>dataPoints: "{{dataPoints}}"</p>
  </section>
</template>
<script>
var dataPoints1 = [];
var dataPoints2 = [];
let $interval = null;
let $chart = null;

function toggleDataSeries(e) {
  if (typeof e.dataSeries.visible === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  $chart.render();
}

export default {
  name: "charts",
  data() {
    return {
      dataPoints: {},
      chartOptions: {
        zoomEnabled: true,
        zoomType: "xy",
        title: {
          text: "Share Value of Two Companies"
        },
        axisX: {
          title: "chart updates every 3 secs",
          crosshair: {
            enabled: true,
            snapToDataPoint: true
          }
        },
        axisY: {
          prefix: "$",
          includeZero: true,
          crosshair: {
            enabled: false,
            snapToDataPoint: true,
            labelFormatter: function(e) {
              return "$" + CanvasJS.formatNumber(e.value, "##0.00");
            }
          }
        },
        toolTip: {
          shared: true
        },
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          fontSize: 16,
          fontColor: "dimGrey",
          itemclick: toggleDataSeries
        },
        data: [
          {
            type: "stepLine",
            xValueType: "dateTime",
            yValueFormatString: "$####.00",
            xValueFormatString: "hh:mm:ss TT",
            showInLegend: true,
            name: "Company A",
            dataPoints: dataPoints1
          },
          {
            type: "stepLine",
            xValueType: "dateTime",
            yValueFormatString: "$####.00",
            showInLegend: true,
            name: "Company B",
            dataPoints: dataPoints2
          }
        ]
      },
      chart: null
    };
  },
  sockets: {
    trending_values(data) {
      this.dataTrend = data.data;
      for (var key in data.data) {
        this.dataPoints[key] = [];
        for (var i in data.data[key]) {
          var val = data.data[key][i];
          this.dataPoints[key].push({
            x: val[0],
            y: val[1]
          });
        }
        // dataPoints1.length = 0;
        // dataPoints2.length = 0;
        console.log(this.dataPoints);
        this.chartOptions.data.push({
          type: "stepLine",
          xValueType: "dateTime",
          yValueFormatString: "$####.000",
          showInLegend: true,
          name: key,
          dataPoints: this.dataPoints[key]
        });
        $chart.render();
      }
    }
  },
  methods: {
    load() {
      this.chartOptions.data.push({
        type: "stepLine",
        xValueType: "dateTime",
        yValueFormatString: "$####.00",
        showInLegend: true,
        name: "Company BC",
        dataPoints: dataPoints2
      });
    },
    getTrending() {
      this.$socket.emit("get_trending", {
        room: "sala1",
        mqtt_subscribe: true,
        time_start: Date.now() - 1000 * 1000,
        time_end: Date.now(),
        topics: ["/topico1", "/topico2", "/topico3"],
        value: Math.random() * 100
      });
      // store.commit("pingServer", { "PING!": 789 });
      // store.dispatch("pingServer", { "PING!": 789 }).then(() => {});
    }
  },
  destroyed: function() {
    clearInterval($interval);
  },
  mounted: function() {
    $chart = new CanvasJS.Chart("chartContainer", this.chartOptions);

    var updateInterval = 1000;
    // initial value
    var yValue1 = 50;
    var yValue2 = 55;

    var time = new Date();
    // starting at 9.30 am
    time.setTime(Date.now() - 1000 * 1000);
    // time.setHours(9);
    // time.setMinutes(30);
    // time.setSeconds(00);
    // time.setMilliseconds(00);

    function updateChart(count) {
      count = count || 1;
      var deltaY1, deltaY2;
      for (var i = 0; i < count; i++) {
        time.setTime(time.getTime() + updateInterval);
        deltaY1 = 0.5 + Math.random() * (-0.5 - 0.5);
        deltaY2 = 0.5 + Math.random() * (-0.5 - 0.5);

        // adding random value and rounding it to two digits.
        yValue1 = Math.round((yValue1 + deltaY1) * 100) / 100;
        yValue2 = Math.round((yValue2 + deltaY2) * 100) / 100;

        // pushing the new values
        dataPoints1.push({
          x: time.getTime(),
          y: yValue1
        });
        dataPoints2.push({
          x: time.getTime(),
          y: yValue2
        });
        if (dataPoints1.length > 1000) {
          dataPoints1.splice(0, dataPoints1.length - 1000);
        }
        if (dataPoints2.length > 1000) {
          dataPoints2.splice(0, dataPoints2.length - 1000);
        }

        // dataPoints1.splice(0, 1);
        // dataPoints2.splice(0, 1);
      }

      // updating legend text with  updated with y Value
      $chart.options.data[0].legendText = " Company A  $" + yValue1;
      $chart.options.data[1].legendText = " Company B  $" + yValue2;
      $chart.render();
    }
    // generates first set of dataPoints

    dataPoints1.length = 0;
    dataPoints2.length = 0;
    updateChart(900);
    $interval = setInterval(function() {
      updateChart();
    }, updateInterval);
  }
};
</script>
