<template>
  <section class="charts">
    <div id="chartContainer" style="height: 360px; width: 100%;"></div>       
    <button @click="load">load</button>
  </section>
</template>
<script>
var dataPoints1 = [];
var dataPoints2 = [];
let $interval = null;
let $chart = null;

function toggleDataSeries(e) {
  if (typeof e.dataSeries.visible === "undefined" || e.dataSeries.visible) {
    e.dataSeries.visible = false;
  } else {
    e.dataSeries.visible = true;
  }
  $chart.render();
}

export default {
  name: "charts",
  data() {
    return {
      chartOptions: {
        zoomEnabled: true,
        title: {
          text: "Share Value of Two Companies"
        },
        axisX: {
          title: "chart updates every 3 secs"
        },
        axisY: {
          prefix: "$",
          includeZero: false
        },
        toolTip: {
          shared: true
        },
        legend: {
          cursor: "pointer",
          verticalAlign: "top",
          fontSize: 22,
          fontColor: "dimGrey",
          itemclick: toggleDataSeries
        },
        data: [
          {
            type: "stepLine",
            xValueType: "dateTime",
            yValueFormatString: "$####.00",
            xValueFormatString: "hh:mm:ss TT",
            showInLegend: true,
            name: "Company A",
            dataPoints: dataPoints1
          },
          {
            type: "stepLine",
            xValueType: "dateTime",
            yValueFormatString: "$####.00",
            showInLegend: true,
            name: "Company B",
            dataPoints: dataPoints2
          }
        ]
      },
      chart: null
    };
  },
  methods: {
    load() {
      this.chartOptions.data.push({
        type: "stepLine",
        xValueType: "dateTime",
        yValueFormatString: "$####.00",
        showInLegend: true,
        name: "Company BC",
        dataPoints: dataPoints2
      });
    }
  },
  destroyed: function() {
    clearInterval($interval);
  },
  mounted: function() {
    $chart = new CanvasJS.Chart("chartContainer", this.chartOptions);

    var updateInterval = 300;
    // initial value
    var yValue1 = 600;
    var yValue2 = 605;

    var time = new Date();
    // starting at 9.30 am
    time.setHours(9);
    time.setMinutes(30);
    // time.setSeconds(00);
    // time.setMilliseconds(00);

    function updateChart(count) {
      count = count || 1;
      var deltaY1, deltaY2;
      for (var i = 0; i < count; i++) {
        time.setTime(time.getTime() + updateInterval);
        deltaY1 = 0.5 + Math.random() * (-0.5 - 0.5);
        deltaY2 = 0.5 + Math.random() * (-0.5 - 0.5);

        // adding random value and rounding it to two digits.
        yValue1 = Math.round((yValue1 + deltaY1) * 100) / 100;
        yValue2 = Math.round((yValue2 + deltaY2) * 100) / 100;

        // pushing the new values
        dataPoints1.push({
          x: time.getTime(),
          y: yValue1
        });
        dataPoints2.push({
          x: time.getTime(),
          y: yValue2
        });
        if (dataPoints1.length > 1000) {
          dataPoints1.splice(0, dataPoints1.length - 1000);
        }
        if (dataPoints2.length > 1000) {
          dataPoints2.splice(0, dataPoints2.length - 1000);
        }

        // dataPoints1.splice(0, 1);
        // dataPoints2.splice(0, 1);
      }

      // updating legend text with  updated with y Value
      $chart.options.data[0].legendText = " Company A  $" + yValue1;
      $chart.options.data[1].legendText = " Company B  $" + yValue2;
      $chart.render();
    }
    // generates first set of dataPoints

    dataPoints1.length = 0;
    dataPoints2.length = 0;
    updateChart(900);
    $interval = setInterval(function() {
      updateChart();
    }, updateInterval);
  }
};
</script>
